* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(246, 189, 0);
  padding: 18px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.school-name {
  opacity: 0.6;
  margin-top: 10px;
}

li {
  font-size: 22px;
}

.big {
  font-size: 40px;
}

.red {
  color: red;
}

.active {
  text-decoration: underline;
}

.div_wrap {
  background-color: aquamarine;
}

#text-block {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 20px 0px;
  font-size: 25px;
  padding: 5px;
  text-transform: uppercase;
}

/* todo */
ol li {
  margin-left: 30px;
}

.none {
  display: none;
}